/* ========== FORMATACAO GERAL ===========*/
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --cor-principal: hsl(170, 100%, 26%);
  --cor-secundaria: hsl(210, 11%, 15%);
  --cor-paragrafo: hsl(210, 9%, 31%);
  --cor-fundo-stats: hsl(39, 100%, 97%);
  --cor-borda-stats: hsl(147, 23%, 89%);
  --cor-fundo: #c7ecd9;
  --wpp-button-mouse: hsl(170, 100%, 14%);
  --altura-nav: 7.2rem;

  font-size: 62, 5%; /*1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: #f7f9f9;
}

.wrapper {
  width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-inline: 2.4rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

section {
  padding-block: 10rem;
}

/* ========== FORMATACAO ICONES NAV ===========*/

nav {
  display: flex;
  height: var(--altura-nav);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  background-color: var(--cor-principal);
  width: 100vw;
}
nav.scroll svg:nth-child(1) path {
  fill: white;
}
nav.scroll button path {
  stroke: white;
}
nav button {
  border: none;
  background: none;
  cursor: pointer;
}

/* ========== FORMATACAO HEADER ===========*/
header h3 {
  font-size: 2.4rem;
  line-height: 3.1 rem;
  color: var(--cor-secundaria);
}

header {
  padding-top: calc(4.1rem + var(--altura-nav));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--altura-nav));
  display: block;
  background-color: var(--cor-fundo);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h1 {
  font-size: 3.4rem;
  color: var(--cor-secundaria);
  margin-bottom: 2.4rem;
}

header h2 {
  font-size: 3rem;
  line-height: 3.9 rem;
  color: var(--cor-secundaria);
}

p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--cor-paragrafo);
  margin-bottom: 3.2rem;
}

.wpp {
  background: var(--cor-principal);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  height: 5rem;
  width: 25rem;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
}
.wpp:hover {
  background-color: var(--wpp-button-mouse);
  transition: background 500ms;
}

#home img {
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home h4 {
  color: var(--cor-principal);
}
/* ========== FORMATACAO STATS ===========*/

.stats {
  width: 32.7rem;
  height: 47rem;
  background-color: var(--cor-fundo-stats);
  margin-inline: auto;
  border: 1px solid var(--cor-borda-stats);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-block: 4rem;

  gap: 6rem;
}

.stat p {
  margin: 0;
  color: var(--cor-principal);
  line-height: 150%;
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--cor-secundaria);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

/* ========== MENU EXPANDED ===========*/

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded {
  overflow: hidden;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--cor-principal);
  width: 100vw;
  height: 100vh;
  padding-top: var(--altura-nav);
  transition: transform 300ms;
  transform: translateY(0);
}

body.menu-expanded nav {
  position: relative;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}
.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .wpp {
  background-color: white;
  color: var(--cor-principal);
  border-radius: 4rem;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  display: inline-block;
  padding: 16px 32px;
  margin-bottom: 8rem;
  margin-top: 4.8rem;
}

.menu .wpp:hover {
  background-color: var(--cor-principal);
  color: white;
 
}

.sociallinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 5;
}
body.menu-expanded .logo path {
  fill: white;
}
body.menu-expanded button path {
  stroke: white;
}

body.menu-expanded > :not(nav) {
  display: none;
}

/* ========== SERVICES ===========*/

#services header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--cor-principal);
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

#services header h2 {
  letter-spacing: 0.08rem;
  margin-bottom: 6rem;
}

#services header h3 {
  margin-bottom: 6rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.2rem;
}

.card {
  padding: 2.4rem;
  width: 37.2rem;
  background: white;
  border: 1px solid #dce9e2;
  box-sizing: border-box;
  border-radius: 0.6rem;
  text-align: left;
}
.card h3 {
  margin-block: 1.6rem;
}

.card p {
  color: var(--cor-paragrafo);
  font-size: 16px;
  line-height: 150%;
}

#about {
  background-color: var(--cor-fundo-stats);
}

#about header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--cor-principal);
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: ;
}

#about header h2 {
  margin-bottom: 1.6rem;
  text-align: left;
  box-sizing: border-box;
  margin-top: 1.6rem;
}

#about header h3 {
  margin-bottom: 1.6rem;
}

#about p {
  text-align: left;
  font-size: 16px;
}

#about img,
#contact img {
  width: 32.5rem;
  border-radius: 10px;
  justify-content: center;
  justify-items: center;
}

/* ========== ABOUT =========== */

#contact {
  text-align: left;
}

#contact ul {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
#contact ul li {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
#contact .wpp {
  margin-left: 0;
}

/* ================ FOOTER ===============*/

footer {
  background: var(--cor-principal);
  padding-block: 6rem;
  text-align: left;
}

footer p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 2rem;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

footer .logo path {
  fill: white;
}

footer ul.sociallinks {
  display: flex;
  justify-content: flex-start;
}

/*==============BACK TO TOP BUTTON */
#backToTopButton.show {
  position: fixed;
  bottom: 3rem;
  right: 2.5rem;
  z-index: 100;
  opacity: 1;
  visibility: visible;

  transition: 700ms;
  transform: translateY(0);
}

#backToTopButton {
  position: fixed;
  bottom: 3rem;
  right: 2.5rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
}
