/* ========== FORMATACAO GERAL ===========*/
*{
  margin: 0;
  box-sizing: border-box;
}

:root {

  --cor-principal: hsl(170, 100%, 26%);
  --cor-secundaria: hsl(210,11%,15%);
  --cor-paragrafo: hsl(210,9%, 31%);
  --cor-fundo-stats: hsl(39,100%,97%);
  --cor-borda-stats: hsl(147,23%,89%);
  --cor-fundo: #c7ecd9;

  --altura-nav: 7.2rem;


  



  font-size: 62,5%; /*1rem = 10px */
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center
  }

.wrapper{
  width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-inline: 2.4rem;
  color: var(--cor-principal);
}

/* ========== FORMATACAO ICONES NAV ===========*/

nav{
  display: flex;
  
  height: var(--altura-nav);
  
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll{
  background-color: var(--cor-principal);
  width: 100vw;
}
nav.scroll svg:nth-child(1) path {
  fill: white
}
nav.scroll svg:nth-child(2) path {
  stroke: white;
}


/* ========== FORMATACAO HEADER ===========*/

header{
  margin-top: calc(4.1rem + var(--altura-nav));
}


header::before{
  content: '';
  width: 100vw;
  height: calc(108rem + var(--altura-nav));
  display: block;
  background-color: var(--cor-fundo);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

header h4 {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  color: var(--cor-principal);

}

header h1 {
  font-size: 3.4rem;
  color: var(--cor-secundaria);
  margin-bottom: 2.4rem;
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--cor-paragrafo);
  margin-bottom: 3.2rem;
}

header button {
  background: var(--cor-principal);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  height: 6.2rem;
  width: 26.3rem;
  
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}

  header img{
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
  } 

/* ========== FORMATACAO STATS ===========*/

.stats{
  width: 32.7rem;
  height: 47rem;
  background-color: var(--cor-fundo-stats);
  margin-inline: auto;
  border: 1px solid var(--cor-borda-stats);
  border-radius: .6rem;

  display:flex;
  flex-direction: column;
  justify-content: center;
  
  padding-block: 4rem;

  gap: 6rem;
 
}

.stat p {
  margin: 0;
  color: var(--cor-principal);
  line-height: 150%;
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--cor-secundaria);
  line-height: 130%;
  margin-bottom: .4rem;
}

